* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5;
}

/* seletor de tag */
header, footer {
    background-color: #333;
    color: #fff;
    padding: 1.0rem;
}

/* seletor de elementos aninhados */
nav a {
    color: #27ae60;
}

/* seletor de filhos */
nav > a {
    display: block;
    color: #f5a623;
    padding: 1.0rem;
}

/* seletor de classes */
.laranja {
    color: #f5a623;
}
.verde {
    color: #27ae60;
}

/* seletor de id */
#secao-principal {
    padding: 2.0rem;
    text-align: center;
}

/* combinação de seletores */
#secao-principal > * {
    margin-top: 1.0rem;
}

input {
    display: block;
    padding: 0.5rem;
    margin: 0.5rem;
}

/* seletor de sequência */
input + input {
    margin-top: 3.0rem;
    margin-bottom: 3.0rem;
}
h2 + p {
    padding: 3.0rem;
}

/* seletores de propriedade */
input[name="email"] {
    background-color: #f5a623;
}

input[type="password"] {
    background-color: #27ae60;
}