* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

:root {
    font-size: 62.5;
}

header {
    background-color: #232323;
    color: #fff;
    text-align: center;
    padding: 1.6rem; /* O elemento filho (p) não herda*/
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: serif;
}

.parent {
    font-size: 1.25rem;
    color: #f64348;
}

.child {
    font-size: 2rem;
    color: #00ff9f;
}