* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Sintaxe - Declarando as variáveis*/
:root {
    --cor-principal: #3c59e7;
    --cor-claro: #cfc9c9;
    --cor-escuro: #232323;
    --preenchimento-pq: .25rem 1rem; /* Padding */
    --preenchimento-md: 2rem;
    --preenchimento-gd: 4rem;
}

header {
    background-color: var(--cor-escuro);
    color: var(--cor-claro);
    padding: var(--preenchimento-pq);
}

section {
    background-color: var(--cor-claro);
    padding: var(--preenchimento-md);
}

div {
    --preenchimento-pq: 1rem;
    background-color: var(--cor-principal);
    color: var(--cor-claro);
    padding: var(--preenchimento-pq);
}

/* reatribuindo um valor para a variável*/
.red-box {
    --cor-principal: #f64348;
}